{{define "user"}}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <table class="table table-bordered table-inverse">
        <tbody>
        <tr>
            <td colspan="2">
                <img src="{{.ImgURL}}" class="rounded img-fluid" alt="Robot">
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td class="ellipis">
                {{.Address}}
            </td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{.Age}}</td>
        </tr>
        </tbody>
    </table>
</div>
{{end}}