{{define "index/home"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="/">Gophr</a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
    </nav>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/tether.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
</body>

</html>
{{end}}